<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>Hello</h3>
            <hr>
            <app-servers></app-servers>
            <!-- <div app-servers></div> -->
            <!-- <div class="app-servers"></div> -->
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <app-success-alert></app-success-alert>
            <warning-alert></warning-alert>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <input type="text" class="form-control" [(ngModel)]="username">
            <p>{{ username }}</p>
            <button class="btn btn-primary" [disabled]="!(username!=='')" (click)="resetUsername()">Reset Username</button>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary" (click)="btnClick()">Display Details</button>
            <p *ngIf="bool">Secret password is jha</p>
            <p 
                *ngFor="let click of clicks;let i = index"
                [ngStyle]="{backgroundColor: applyBg(i)}"
                [ngClass]="{white: click >= 5}"
            >{{ click }}</p>
        </div>
    </div>
</div>